$weather-background: #18558c;
$weather-text-color:#517daa;
$drawer-background: #e4e4e4;
$drawer-text: #898989;
$line-height: 1.5em;
$font-family: 'Ubuntu', sans-serif;
$font-size-regular: #{"17px/#{$line-height}"};
$font-size-small: #{"13px/#{$line-height}"};
$font-size-medium: #{"24px/#{$line-height}"};
$font-size-big: #{"36px/#{$line-height}"};
$font-size-bigger: #{"72px/#{$line-height}"};

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-regular: normal normal $font-weight-regular $font-size-regular $font-family;
$font-regular-bold: normal normal $font-weight-bold $font-size-regular $font-family;
$font-small: normal normal $font-weight-regular $font-size-small $font-family;
$font-small-bold: normal normal $font-weight-bold $font-size-small $font-family;
$font-medium: normal normal $font-weight-regular $font-size-medium $font-family;
$font-big: normal normal $font-weight-regular $font-size-big $font-family;
$font-big-bold: normal normal $font-weight-bold $font-size-big $font-family;
$font-bigger: normal normal $font-weight-bold $font-size-bigger $font-family;

$dark-shadow: -1px -1px 1px rgba(0,0,0,.25);
$light-shadow: 1px 1px 1px rgba(255,255,255,.35);